//
   Created by bhuvaneswaranm on 9/22/15.
doctype html
html
   head(lang='en')
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1, user-scalable=0')
      title
      link(rel='stylesheet', href='css/site.css', type='text/css')
      script(src='js/site.js')
   body